<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="jlabsApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to JLabs - Explore Linux distros, Dev Tools, Networking, and more.">
    <meta name="keywords" content="JLabs, Linux, Dev Tools, Networking, Kubernetes, Open Source">
    <title>JLabs</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div class="banner">
        <h1>Welcome to JLabs</h1>
    </div>
    <nav class="navbar">
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">Home</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="">https://jlabclouds.github.io</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">Index</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
        <a href="https://github.com/JesseDev3/linux" target="_blank" rel="noopener noreferrer">Linux QS</a>
        <a href="https://github.com/jlabclouds" target="_blank" rel="noopener noreferrer">Github</a>
        <a href="RHCSA" target="_blank" rel="noopener noreferrer">RHCSA</a>
        <a href="GCPPCA" target="_blank" rel="noopener noreferrer">GCPPCA</a>
        <a href="IsaacSim" target="_blank" rel="noopener noreferrer">IsaacSim</a>
        <a href="FrameworkTemplates/ReadMe" target="_blank" rel="noopener noreferrer">Templates</a>
            </div>
        </div>
        <div class="search-bar" ng-controller="SearchController as searchCtrl">
            <input type="text" placeholder="Checked out to me..." ng-model="searchCtrl.query" ng-keypress="searchCtrl.handleKeyPress($event)">
        </div>
        <div class="dropdown" ng-controller="CartController as cartCtrl">
            <button ng-click="cartCtrl.toggleMenu()">Cart ({{ cartCtrl.items.length }})</button>
            <div ng-show="cartCtrl.isMenuOpen()" class="dropdown-menu">
                <div ng-if="cartCtrl.items.length === 0">Your cart is empty.</div>
                <ul>
                    <li ng-repeat="item in cartCtrl.items">
                        {{ item.name }} - ${{ item.price }}
                        <button ng-click="cartCtrl.removeItem($index)">Remove</button>
                    </li>
                </ul>
                <a href="html/cart.html" ng-if="cartCtrl.items.length > 0">Checkout</a>
                <a href="html/cart.html" title="Kotlin">Checkout</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('settingsMenu')">Settings</button>
            <div ng-show="dropdownCtrl.isMenuOpen('settingsMenu')" class="dropdown-menu">
                <a href="#">Profile</a>
                <a href="#">Preferences</a>
                <a href="#">Logout</a>
            </div>
    </nav>    
    <header>
<!--
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">Index</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
        <a href="" target="_blank" rel="noopener noreferrer"></a>
        <a href="" target="_blank" rel="noopener noreferrer"></a>
        <a href="" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://mytime.target.com/">MyTime</a>
                <a href="https://wd5.myworkday.com/target">Workday</a>
                <a href="https://greenfield.target.com">Greenfield</a>
                <a href="https://mickra.target.com">Mickra</a>
                <a href="https://salesforce.target.com">Salesforce</a>
                <a href="https://servicenow.target.com">ServiceNow</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">TGT Opn Src</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://github.com/target">TGT Github</a>
                <a href="https://opensource.target.com">Open Source</a>
                <a href="https://tech.target.com/open-source">TGT Tech</a>
                <a href="https://opensource.target.com/security">TGT CFC</a>
            </div>
        </div>

        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href=""></a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href=""></a>
            </div>
        </div>
-->
    </header>
    <main>
        <div class="styled-paragraph">
            <p>Welcome to JLabs!</p>
            <p>Shareholder / Admin Portal</p>
            <p>Note LTS & EOL.
                <p>Refresh on quadratic formulas and equations, linear functions, trig and discrete math(probability will help later with hadamard operation and Grovers search problem in Q#)</p>
                <p>I would like to create a robot such as Johnny 5 or a Reachy 2</p>
        </div>
        
        <div class="card-container">
            <div class="card">

            </div>
                <div class="card">
                
                </div>
            <div class="card">
                
            </div>
            <div class="card">
                <h2></h2>
                <a href=""></a>
                
            </div>

            <div class="card">

            </div>
            <div class="card">
                
            </div>
        </div>
    </main>
    <footer>
        &copy; 2025 JLabs. All rights reserved.
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('jlabsApp', [])
.controller('DropdownController', function() {
    this.menus = {};
    this.toggleMenu = function(menuId) {
        this.menus[menuId] = !this.menus[menuId];
    };
    this.isMenuOpen = function(menuId) {
        return !!this.menus[menuId];
    };
})
.controller('SearchController', function() {
    this.query = '';
    this.handleKeyPress = function(event) {
        if (event.key === 'Enter') {
            console.log('Search query:', this.query);
            // Add your search logic here
        }
    };
})
.controller('CartController', function() {
    this.items = [
    ];

    this.menuOpen = false;

    this.toggleMenu = function() {
        this.menuOpen = !this.menuOpen;
    };

    this.isMenuOpen = function() {
        return this.menuOpen;
    };

    this.addItem = function(item) {
        this.items.push(item);
    };

    this.removeItem = function(index) {
        this.items.splice(index, 1);
    };
});
    </script>
</body>
</html>
